<%= turbo_frame_tag "follow_toggle" do %>
  <p>
    <% if viewer.follows?(user) %>
      <%= button_to "Unfollow", relation_path(relation), method: :delete, params: { followed_id: user.id, id: relation.id } %>
    <% else %>
      <%= button_to "Follow", relations_path, method: :post, params: { followed_id: user.id } %>
    <% end %>
  </p>
<% end %>
