<%= turbo_frame_tag "like_toggle_#{post.id}" do %>
  <p>
    <% if like |= likes.find {|l| l.post_id == post.id} %>
      <%= button_to "Unlike", like_path(like), method: :delete, params: { post_id: post.id } %>
    <% else %>
      <%= button_to "Like", likes_path, method: :post, params: { post_id: post.id } %>
    <% end %>
  </p>

  <% if post.likes_count > 0 %>
    <p>
      <%= pluralize(post.likes_count, 'Like') %>
    </p>
  <% end %>
<% end %>
