<%= turbo_frame_tag "like_toggle_#{post.id}" do %>
  <p>
    <% if current_user.liked_posts.include?(post) %>
      <%= button_to "Unlike", like_path(current_user.likes.find_by(post_id: post.id)), method: :delete, params: { post_id: post.id } %>
    <% else %>
      <%= button_to "Like", likes_path, method: :post, params: { post_id: post.id } %>
    <% end %>
  </p>

  <% if post.likes.count > 0 %>
    <p>
      <%= pluralize(post.likes.count, 'Like') %>
    </p>
  <% end %>
<% end %>
