<%= turbo_frame_tag "like_toggle_#{post.id}" do %>
  <% like ||= likes.find {|l| l.post_id == post.id}
    if like %>
      <%= button_to "♥", like_path(like), method: :delete, params: { post_id: post.id }, class: 'btn btn-primary' %>
    <% else %>
      <%= button_to "♡", likes_path, method: :post, params: { post_id: post.id }, class: 'btn btn-outline-primary' %>
    <% end %>

  <% if post.likes_count > 0 %>
    <p>
      <%= pluralize(post.likes_count, 'Like') %>
    </p>
  <% end %>
<% end %>
