<div>
  <h1>Here you can change your account credentials</h1>
  <%= render "form", user: @user %>
</div>

<div>
  <h1>Danger zone</h1>
    <%= link_to "Delete my account and all the posts permanently (no undo!)", user_path(current_user),
      data: {
        turbo_method: 'delete',
        turbo_confirm: "Are really sure you want to delete your account and all the posts you made?\nThis action CAN NOT BE UNDONE!"
      } %>
</div>
