<%= link_to "Back", :back %>

<div id='following'>
  <ul>
    <% @following.each do |following| %>
      <li>
        <p><%= link_to following.name, user_path(following) %></p>
      </li>
    <% end %>
  </ul>
</div>
