<h1 class='text-center m-3'><%= @user.name %> - followers</h1>

<%= render partial: 'users/list', locals: { users: @followers } %>

<div class='row justify-content-center m-0 my-5 p-0'>
  <%= link_to "Back to profile", user_path(@user), class: 'col-sm-8 col-md-6 px-0 mx-0 btn btn-outline-primary' %>
</div>
