<div class='bg-body-tertiary rounded-3 shadow my-5 px-0 py-3'>
  <%= render partial: 'users/profile', locals: { user: @user } %>

  <div class="post-thumbnails container px-0 text-center">
    <div class="row row-cols-3 row-cols-md-5 px-md-4 mx-0 g-0 justify-content-start">
      <% @posts.each do |post| %>
        <%= 
          link_to(
            image_tag(
              post.image_url(:thumbnail), class: 'img-fluid object-fit-fill'
            ),
            user_posts_path(@user, anchor: dom_id(post)),
            class: 'col'
          )
        %>
      <% end %>
    </div>
  </div>
</div>
