<div class='bg-secondary-subtle'>
  <%= render partial: 'users/profile', locals: { user: @user } %>

  <div class="post-thumbnails container px-0 container-md-fluid text-center grid gap-0">
    <div class="row row-cols-3 mx-0 g-0 justify-content-center">
      <% @posts.each do |post| %>
        <%= 
          link_to(
            image_tag(
              post.image_url(:thumbnail), class: 'img-fluid object-fit-fill'
            ),
            "#{user_posts_path(@user)}##{dom_id post}",
            class: 'col align-self-center'
          )
        %>
      <% end %>
    </div>
  </div>
</div>
