<% unless user_signed_in? %>
  <div class="row text-center p-5 m-5 justify-content-evenly text-primary">
    <h1>Welcome to</h1>
    <h3><del>RAILGUN 🔫</del><h3>
    <h1>RAILGRAM ! 📸</h1>

    <%= link_to('Register', new_user_registration_path, class: 'col') %>
    <%= link_to('Sign in', new_user_session_path, class: 'col') %>
  </div>
<% end %>
