<h1 class='text-center m-3'>Edit post</h1>

<%= render "form", post: @post %>

<br>

<div class='text-center'>
  <%= link_to "Show this post", post_path(@post) %><br/>
  <%= link_to "Back to my posts", user_posts_path(current_user) %>
</div>
