<h1 class='text-center mb-3'>Feed:</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <% if post.present? %> 
      <%= render partial: 'posts/post', 
                 locals: { post:,
                           likes: @likes } %>
    <% end %> 
  <% end %>
</div>
