<h1>Feed:</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <% if post.present? %> 
      <%= render partial: 'posts/post', 
                 locals: { post:,
                           likes: @likes } %>
      <div>
        <%= link_to "Show this post", post_path(post) %>
      </d>
    <% end %> 
  <% end %>
</div>
