<br/><br/>

<%= link_to "New post", new_user_post_path(@user) %>

<h1>
  <% if @user == current_user %>
    My posts:
  <% else %>
    <%= @user.name %> posted:
  <% end %>
</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", user_post_path(@user, post) %>
    </p>
  <% end %>
</div>
