<br/><br/>

<%= render partial: 'users/profile', locals: { user: @user } %>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render partial: 'posts/post', 
           locals: { post:,
                     likes: @likes } %>
  <% end %>
</div>
