<br/><br/>

<%= link_to "New post", new_post_path %>

<%= render 'users/profile', user: @user, viewer: @viewer %>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render partial: 'posts/post', 
           locals: { post:,
                     viewer: @viewer,
                     likes: @likes } %>
    <p>
      <%= link_to "Show this post", post_path(post) %>
    </p>
  <% end %>
</div>
